body {
  /* font-family: 'DM Serif Display','Arial', serif; */

  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  color: #837D88;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation ul {
  display: flex;
  list-style: none;

}

.navigation .nav-link {
  color: #2C2830;
}

.main-qism {
  background-color: #2D2641;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 540px;
}

.main-qism h1 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  color: #fff;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  font-weight: normal;
}

.main-qism p {
  color: #fff;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

.main-qism a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 14px;
}

.main-orta h2 {
  font-size: 72px;
  line-height: 64px;
  color: #000;
  letter-spacing: -1px;
  font-weight: normal;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
}

.main-orta ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-chaqmoq h3 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
}

.main-chaqmoq {
  width: 350px;
}

.main-chaqmoq p {
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

.main-dollor {
  width: 350px;
}

.main-dollor h3 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-size: 30px;
  font-weight: normal;
}

.main-dollor p {
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

.main-odam {
  width: 350px;
}

.main-odam h3 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
}

.main-odam p {
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

.find {
  background-color: #2d2641;
  display: flex;
  justify-content: space-between;
}

.find h2 {
  font-size: 58px;
  color: #fff;
  font-weight: normal;
  width: 525px;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
}

.find button {
  font-size: 14px;
  width: 160px;
  height: 40px;
}

.footer-past1 h4 {
  font-size: 14px;
  color: #837D88;
  font-weight: bold;
}

.footer-past1 ul {
  list-style: none;
}

.footer-past1 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #2D2641;
  letter-spacing: 1.5px;
}

.footer-past2 h4 {
  font-size: 14px;
  color: #837D88;
  font-weight: bold;
}

.footer-past2 ul {
  list-style: none;
}

.footer-past2 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #2D2641;
  letter-spacing: 1.5px;
  font-family: 'Karla', sans-serif;
  font-style: bold;
}

.footer-past3 h4 {
  font-size: 14px;
  color: #837D88;
  font-weight: bold;
}

.footer-past3 ul {
  list-style: none;
}

.footer-past3 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #2D2641;
  font-family: 'Karla', sans-serif;
  font-style: bold;
}

.footer-past4 h4 {
  font-size: 14px;
  color: #837D88;
  font-weight: bold;
}

.footer-past4 ul {
  list-style: none;
}

.footer-past4 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #2D2641;
  letter-spacing: 1.5px;
  font-family: 'Karla', sans-serif;
  font-style: bold;
}

.footer-header ul {
  list-style: none;

}

.footer-link {
  display: flex;
  justify-content: flex-end;
}

.footer {
  background-color: #FAFAFA;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.5px;
  line-height: 15px;
}